body {
    background-color: #DFE9F5;
    height: 100vh;
    width: 100%;
}
/* Logo */
.iitjammu-logo {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    max-width: 15%;
    max-width: 12%;
}
/* Navbar */
.navbar {
    padding-left: 1em;
    background-color: #0D4389;
    color: white;
    margin-bottom: 1rem;
}

.navbar a {
    margin-left: 1em;
    color: white;
}

.dropdown-menu{
    background-color: blue; 
}
.dropdown-toggle{
    border: none ;
}

.home-icon {
    transform: scale(1.5);
}
/* carousel */
.carousel{
    margin-bottom: 1em;
}
/* Marchandise Items */
.item-row{
    display: table;
    width: 100%;
    padding: 2rem;
}
.row1{
    width: 50%;
    display: inline-block;
    text-align: center;
}
.img1{
    width: 30%;
    height: 30%;
}
/* New Arrivals */
.new-arrivals-heading{
    margin-bottom: 1em;
}
/* Footer */
footer {
    background-color: #98999B;
    color: black;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 4rem;
}

.contact-details {
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 7%;
}
.address{
    margin-top: auto;
    margin-bottom: auto;

}
.follow-us-heading {
    font-weight: 400;
    font-size: 1.5em;
}
.follow-us{
    margin-top: auto;
    margin-bottom: auto;
}
.follow-us a {
    margin-left: 2em;
}

.col {
    text-align: center;

}

.soc-med-li {
    transform: scale(2);
    color: black;
}
