body {
    width: 100%;
}
/* Logo */
.iitjammu-logo {
    margin-left: 1em;
    max-width: 20%;
    max-width: 20%;
}
/* Navbar */
.navbar {
    padding-left: 1em;
    background-color: #0D4389;
    color: white;
    margin-bottom: 1rem;
}

.navbar a {
    margin-left: 1em;
    color: white;
}

.dropdown-menu{
    background-color: blue; 
}
.dropdown-toggle{
    border: none ;
}

.home-icon {
    transform: scale(1.5);
}
.dropdown-menu{
    background-color: #0a456d;
}
.dropdown-item{
    margin-left: 0px !important;
}
/* carousel */
.carousel{
    margin-bottom: 3em;
}
/* Marchandise Items */
.merchandise{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.product-heading{
    text-decoration: none;
    color: black;
}
.products{
    /* border-radius: 0.5em; */
    /* margin-right: 1em;
    margin-left: 1em; */
    /* padding: 0; */
    /* background-color: #e9ecef; */
}
.color-theme{
    border-radius: 0.5em 0.5em 0 0;
    height: 1em;
}
#color-theme-1{
    background-color: #90e0ef;  
}
#color-theme-2{
    background-color: #00b4d8;  
}
#color-theme-3{
    background-color: #0077b6;  
}
#color-theme-4{
    background-color: #03045e;  
}
.merchandise-img{
    max-width: 100%;
    max-height: 100%;
}


.products h3{
    margin-bottom: 4em;
}
/* New Arrivals */
.new-arrivals-heading{
    margin-bottom: 1em;
}
.new-arrivals{
    margin-top: 1.5rem;
}
/* Footer */
footer {
    background-color: #98999B;
    color: black;
    margin-top: 10%;
    /* margin-bottom: 10%; */
    padding-bottom: 4rem;
}

.contact-details {
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 7%;
}
.address{
    margin-top: auto;
    margin-bottom: auto;

}
.follow-us-heading {
    font-weight: 400;
    font-size: 1.5em;
}
.follow-us{
    margin-top: auto;
    margin-bottom: auto;
}
.follow-us a {
    margin-left: 2em;
}
.footer{
    text-align: center;
}

.soc-med-li {
    transform: scale(2);
    color: black;
}
#carouselExampleControls .carousel-control-prev-icon{
    filter: invert(100%);
    margin-left: auto;
}
#carouselExampleControls .carousel-control-next-icon {
    filter: invert(100%);
    margin-right: auto;
}
a{
    z-index: 1;
}